//
// Accordions
// --------------------------------------------------

.accordion {
    font-family: $sans-serif;
    margin: 25px 0;
}

.accordion__icon {
    height: 20px;
    transition: all .3s ease-out;
    width: 20px;

    .icon-plus {
        fill: $medium-red;
    }    
}

.accordion__panel {
    border-bottom: 1px solid $gray-c7; 

    &:first-child {
        border-top: 1px solid $gray-c7;
    }
}

.accordion__toggle { 
    align-items: center;
    color: $black;
    cursor: pointer;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: 25px 0;
    text-transform: uppercase;
    
    @include font-size(32);

    &.is-open {
        .accordion__icon {
            transform: rotate(135deg);
        }
    }
}

.accordion__content {
    color: $medium-gray;
    font-weight: 400;
    line-height: $baseLineHeight;
    padding: 0 0 25px;

    @include font-size(22);

    &[aria-hidden="true"] {
        display: none;
    }
}
