//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

button, .btn {
    background: transparent;
    border: 2px solid transparent;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-family: $sans-serif;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.35s ease-out;
    vertical-align: middle;

    @include font-size(16);

    &:hover {
        text-decoration: none;
    }

    &.btn-primary {
        margin: 5px 0;
        background: $medium-red;
        &:hover {
            background-color: $brand-red;
            color: $white;
        }
    }

    &.btn-secondary {
        margin: 5px 0;
        border: 2px solid $white;
        &:hover {
            background: $white;
            color: $medium-red;
        }
    }
}
