//
// Forms
// --------------------------------------------------


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
    box-sizing: border-box;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
    line-height: normal;
    margin: 4px 0 0;
    margin-top: 1px \9; // IE8-9
    
}

input[type="file"] {
    display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
    display: block;
    width: 100%;
}

label {
    color: $dark-gray;
    font-family: $sans-serif;

    @include font-size(18);
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
    height: auto;
}



// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

.form-control {
    appearance: none;
    background: $gray-f1;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: $dark-gray;
    display: block;
    font-family: $sans-serif;
    font-size: 14px;
    //margin: 15px 0;
    padding: 15px 20px;
    text-transform: uppercase;
    transition: background ease-in-out .15s;
    width: 100%;

    &:focus {
        outline: none;
    }


    // Unstyle the caret on `<select>`s in IE10+
    &::-ms-expand {
        display: none;
    }

    // Disabled and read-only inputs
    //
    // HTML5 says that controls under a fieldset > legend:first-child won't be
    // disabled if the fieldset is disabled. Due to implementation difficulty, we
    // don't honor that edge case; we style them as disabled anyway.
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
        //background-color: $input-bg-disabled;
        opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
    }

    &[disabled],
    fieldset[disabled] & {
        //cursor: $cursor-disabled;
    }
}

.sr-only {
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

textarea.form-control {
    height: auto;
}

.form-pop-up {
    background-color: $dark-gray;
    margin: 0 auto;
    padding: 50px 40px 60px;
    text-align: center;
    width: 50%;
    z-index: 1;

    btn, .btn {
        width: 100%;
    }

    h3, p {
        color: $white;
    }

    h3 {
        margin: 0;
        padding: 0;

        &:after {
            background-color: $medium-red;
            content: "";
            display: block;
            height: 3px;
            margin: 20px auto 25px;
            width: 50px;
        }
    }
}


// Search inputs in iOS
//
// This overrides the extra rounded corners on search inputs in iOS so that our
// `.form-control` class can properly style them. Note that this cannot simply
// be added to `.form-control` as it's not specific enough. For details, see
// https://github.com/twbs/bootstrap/issues/11586.

input[type="search"] {
    -webkit-appearance: none;
}


// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 9.3, iOS doesn't support `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type="date"],
    input[type="time"],
    input[type="datetime-local"],
    input[type="month"] {
        &.form-control {
            //line-height: $input-height-base;
        }

        &.input-sm,
        .input-group-sm & {
            //line-height: $input-height-small;
        }

        &.input-lg,
        .input-group-lg & {
            //line-height: $input-height-large;
        }
    }
}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
    margin-bottom: 15px;
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;

    label {
        cursor: pointer;
        //font-family: $font-family-light;
        margin-bottom: 0;
        //min-height: $line-height-computed; // Ensure the input doesn't jump when there is no text
        padding-left: 20px;    
    }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: -20px;
    margin-top: 4px \9;
    position: absolute;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: -5px; // Move up sibling radios or checkboxes for tighter spacing
}

// Radios and checkboxes on same line
.radio-inline,
.checkbox-inline {
    cursor: pointer;
    display: inline-block;
    //font-family: $font-family-light;
    margin-bottom: 0;   
    padding-left: 20px;
    position: relative;
    vertical-align: middle;   
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 10px; // space out consecutive inline controls
    margin-top: 0;
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
    &[disabled],
    &.disabled,
    fieldset[disabled] & {
        //cursor: $cursor-disabled;
    }
}

// These classes are used directly on <label>s
.radio-inline,
.checkbox-inline {
    &.disabled,
    fieldset[disabled] & {
        //cursor: $cursor-disabled;
    }
}

// These classes are used on elements with <label> descendants
.radio,
.checkbox {
    &.disabled,
    fieldset[disabled] & {
        label {
            //cursor: $cursor-disabled;
        }
    }
}

// These classes are used on <select> elements
select.form-control {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generator%3A%20Adobe%20Illustrator%2020.1.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2048%2048%22%20style%3D%22enable-background%3Anew%200%200%2048%2048%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Crect%20id%3D%22Arrow_Bg_1_%22%20x%3D%221%22%20y%3D%221%22%20style%3D%22fill%3A%23F7EC33%3Bstroke%3A%23F7EC33%3Bstroke-width%3A2%3B%22%20width%3D%2246%22%20height%3D%2246%22/%3E%0A%3Cpath%20id%3D%22Arrow_1_%22%20style%3D%22fill%3A%23231F20%3B%22%20d%3D%22M17.6%2C21.5c0%2C0.3%2C0.1%2C0.6%2C0.3%2C0.9l5.7%2C5.8c0.4%2C0.5%2C1.2%2C0.5%2C1.6%2C0c0%2C0%2C0%2C0%2C0%2C0l5.7-5.8%0A%09c0.5-0.5%2C0.5-1.2%2C0-1.7c-0.4-0.5-1.2-0.5-1.6%2C0c0%2C0%2C0%2C0%2C0%2C0l-4.9%2C5l-4.9-5c-0.4-0.5-1.2-0.5-1.6%2C0c0%2C0%2C0%2C0%2C0%2C0%0A%09C17.7%2C20.9%2C17.6%2C21.2%2C17.6%2C21.5z%22/%3E%0A%3C/svg%3E%0A');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-right: 70px;
    position: relative;
    transition: background-image .25s ease-out;

    &:focus,
    &:hover {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generator%3A%20Adobe%20Illustrator%2020.1.0%2C%20SVG%20Export%20Plug-In%20%20--%3E%0A%3Csvg%20version%3D%221.1%22%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Aa%3D%22http%3A//ns.adobe.com/AdobeSVGViewerExtensions/3.0/%22%0A%09%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2048%2048%22%20style%3D%22enable-background%3Anew%200%200%2048%2048%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cdefs%3E%0A%3C/defs%3E%0A%3Crect%20id%3D%22Arrow_Bg_1_%22%20x%3D%221%22%20y%3D%221%22%20style%3D%22fill%3A%23FFFFFF%3Bstroke%3A%23F7EC33%3Bstroke-width%3A2%3B%22%20width%3D%2246%22%20height%3D%2246%22/%3E%0A%3Crect%20id%3D%22Arrow_Bg-2_1_%22%20x%3D%225.6%22%20y%3D%225.6%22%20style%3D%22fill%3A%23F7EC33%3B%22%20width%3D%2236.8%22%20height%3D%2236.8%22/%3E%0A%3Cpath%20id%3D%22Arrow_1_%22%20style%3D%22fill%3A%23231F20%3B%22%20d%3D%22M17.6%2C21.5c0%2C0.3%2C0.1%2C0.6%2C0.3%2C0.9l5.7%2C5.8c0.4%2C0.5%2C1.2%2C0.5%2C1.6%2C0c0%2C0%2C0%2C0%2C0%2C0l5.7-5.8%0A%09c0.5-0.5%2C0.5-1.2%2C0-1.7c-0.4-0.5-1.2-0.5-1.6%2C0c0%2C0%2C0%2C0%2C0%2C0l-4.9%2C5l-4.9-5c-0.4-0.5-1.2-0.5-1.6%2C0c0%2C0%2C0%2C0%2C0%2C0%0A%09C17.7%2C20.9%2C17.6%2C21.2%2C17.6%2C21.5z%22/%3E%0A%3C/svg%3E%0A');
    }
}


