//
// Tables
// --------------------------------------------------

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;

    th,
    td {
        font-size: 18px;
        line-height: $baseLineHeight;
        padding: 15px;
        vertical-align: top; 
    }

    td {
        border: 1px solid $gray-c7;
        color: $dark-gray;
        font-family: $serif;
        font-weight: 300;
    }

    th {
        background: $medium-red;
        border: 1px solid $white;
        color: $white;
        font-family: $sans-serif;
        font-weight: normal;
        text-align: left;
    }
 
    tr:nth-child(odd) td {
        background: $gray-f1;
    }

}
