//
// Top Navigation
// --------------------------------------------------

.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 35px;
    z-index: 3;
    transition: all 0.5s;

    @include bp(small) {
        top: -50px;
    };
}

.top-nav {
    width: 100%;
    height: 35px;
    top: 0;
    margin: 0;
    padding: 11px 0;
    box-sizing: border-box;

    .contained {
        display: flex;
        justify-content: flex-end;
        padding: 0 25px;
    }
}

$burger-bar-height: 2.5px;
$burger-bar-spacing: 2.1px;

#burger {
  	background-color: $white;
  	appearance: none;
  	position: relative;
    padding: 0;
  	height: 35px;
  	width: 35px;
  	z-index: 444;
  	border: 2px solid $medium-red;
  	transition: background 0.3s;

  	&:focus {
  		  outline: 0;
  	}

  	.bars {
    		width: 13px;
    		height: 9px;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		margin-left: -6.4px;
    		margin-top: -6px;
    		will-change: transform;
    		transition: transform 0.4s;
  	}

  	.bar {
    		width: 100%;
    		height: $burger-bar-height;
    		background: $medium-red;
    		display: block;
    		position: absolute;
    		transition: transform 0.4s, margin 0.4s, opacity 0.4s, background 0.3s;
  	}

  	&:hover {
    		background: $medium-red;
      		.bar {
      			   background: $white;
      		}
  	}

  	.bar2 {
  		  transform: translateY($burger-bar-height + $burger-bar-spacing);
  	}

  	.bar3 {
  		  transform: translateY(($burger-bar-height + $burger-bar-spacing) * 2);
  	}

  	&.active, .menu-trigger:checked + .banner & {
        border: 2px solid $white;
    		.bars {
    			   transform: translateY(5px);
    		}

    		.bar {
    			   transform: translateY(50%);
    		}

    		.bar1 {
    			   transform: rotate(45deg);
    		}

    		.bar2 {
    			   opacity: 0;
    		}

    		.bar3 {
    			   transform: rotate(-45deg);
    		}
  	}
}
