<section id="navigation" data-content-region="true">
    <h2>Navigation</h2>

    <article id="menu-button" data-content-region="true">
          <h3 class="section-title">Menu Button</h3>

        <div data-xrayhtml>
            <a class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"></a>
        </div>
    </article>

    <article id="page-navigation" data-content-region="true">
        <h3 class="section-title">Page Navigation</h3>

        <div data-xrayhtml>
            <div class="wizard-container">
                <div class="wizard-button">
                    <a href="#page-navigation"></a>
                    <a href="#page-navigation">TITLE</a>
              	</div>

              <div class="wizard-button">
                  <a href="#page-navigation"></a>
                  <a href="#page-navigation">TITLE</a>
              </div>
            </div>
        </div>
    </article>
</section>
