<section id="image-slider" data-content-region="true">
    <h2>Image Sliders</h2>
    <article>
        <div class="slider">
            <div data-xrayhtml>
                <ul class="bxslider">
                    <li><img alt="" src="../src/images/banner-01.jpg" /></li>
                    <li><img alt="" src="../src/images/banner-02.jpg" /></li>
                    <li><img alt="" src="../src/images/banner-03.jpg" /></li>
                    <li><img alt="" src="../src/images/banner-04.jpg" /></li>
                    <li><img alt="" src="../src/images/banner-05.jpg" /></li>
                </ul>
            </div>
        </div>
    </article>
</section>
