/*
 *	Unique Styleguide Elements
 *
 ************************************************************************************************/

.color_gray-f1 { background-color: $gray-f1; }
.color_gray-e1 { background-color: $gray-e1; }
.color_gray-c7 { background-color: $gray-c7; }
.color_gray { background-color: $gray; }
.color_medium-gray { background-color: $medium-gray; }
.color_dark-gray { background-color: $dark-gray; }
.color_brand-red { background-color: $brand-red; }
.color_medium-red { background-color: $medium-red; }
.color_dark-red { background-color: $dark-red; }
.color_light-blue { background-color: $light-blue; }
.color_medium-blue { background-color: $medium-blue; }
.color_dark-blue { background-color: $dark-blue; }

.container-nav {
	background-color: $gray-f1;
	bottom: 0;
	box-sizing: border-box;
	overflow-y: auto;
	padding: 25px 0;
	position: fixed;
	top: 58px;
	left: -100%;
	width: 100%;
	z-index: 2;
	transition: all 0.5s;

	h2 {
		margin-left: 25px;
	}

	&.active {
		left: 0;
	}

	@include bp(small) {
			top: 150px;
			left: 0;
			width: 250px;
	};
}

.container-patterns {
  	box-sizing: border-box;
  	margin: 20px 0 0 0;
  	padding: 25px;
  	width: auto;

		@include bp(small) {
				margin: 20px 0 0 250px;
		};
}

.demo-background {
	background-color: $dark-gray;
	padding: 25px;
}

.demo-background-image {
	align-items: center;
	background-image: url('../images/office-background.jpg');
    display: flex;
    min-height: 450px;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.fixed-panel {
  	position: relative;
  	overflow: hidden;
  	width: 100%;

		@include bp(small) {
				width: 250px;
		};
}

hr {
    background-color: $gray-c7;
    border: none;
    clear: both;
    display: block;
    height: 1px;
    margin: 25px 0;
    width: 100%;
}

.logo {
	background-color: $medium-red;
	border: none;
	position: fixed;
	text-align: left;
	top: 0;
	left: -100%;
	width: 100%;
	z-index: 2;
	transition: all 0.5s;

	img {
		margin-left: 15px;
		padding: 5px;
		width: 42px;
	}

	&.active {
		left: 0;
	}

	@include bp(small) {
			left: 0;
			width: 250px;
			text-align: center;

			img {
				padding: 25px;
				width: 100px;
			}
	};
}

.list-pattern-nav {
  	margin-bottom: 0;

  	> li {

    	> a {
      		background-color: #ddd;
      		color: #6a605e;
      		//font-family: sans-serif;

      		&:hover,
      		&.is-active {
        		color: $white;
        		background-color: $medium-red;
      		}
    	}
  	}

  	a {
  		border: none;
  		color: #6a605e;
  		display: block;
  		padding: 10px 10px 10px 20px;
	    position: relative;
	    text-decoration: none;
	    transition: all .2s ease;

	    &:after {
	    	background-color: $medium-red;
	      	content: "";
	      	display: block;
	      	height: 100%;
	      	left: 0;
	      	position: absolute;
	      	transition: width .2s ease;
	      	top: 0;
	      	width: 5px;
	      	z-index: -1;
	    }

    	// text treatment
    	&:hover,
    	&.is-active {
      		color: $white;
    	}

    	// decorative element
    	&:hover:after,
    	&.is-active:after {
      		width: 100%;
    	}
  	}
}

.list-pattern-nav-undocumented {
  	font-family: sans-serif;

  	> li {
    	padding: 4px 10px 4px 20px;
  	}

  	ul {
    	font-family: sans-serif;
  	}
}

.list-color-palette {
	margin-bottom: 25px;

	li {
		border: 4px solid #f2f2f2;
		border-radius: 5px;
		margin: 0 10px 10px 0;
		position: relative;
    	text-align: left;
    	vertical-align: top;
	}

	p {
		background-color: #fff;
		bottom: 0;
		color: #6a605e;
		font-size: 12px;
		line-height: 14px;
    	position: absolute;
  	}
}

.list-color-palette-primary {

  	li {
    	width: 175px;
    	height: 150px;
  	}

  	p {
	    box-shadow: 0 1px 2px rgba( #333, .2 );
	    margin-bottom: 10px;
	    margin-left: -8px;
	    padding: 10px 18px;
	    max-width: 150px;
  	}
}

.list-color-palette-secondary {

  	li {
  		height: 110px;
    	overflow: hidden;
    	width: 140px;
  	}

  	p {
    	margin-bottom: 0;
    	padding: 10px;
    	width: 100%;
  	}
}

pre {
  	border-left: 5px solid $dark-gray;
  	font-size: 13px;
}

.section-title {
	margin-bottom: 1em;
}

.snippet,
.source-panel {
  	margin-bottom: 25px
}

.xraytitle {
	color: $dark-gray;
    font-family: $serif;
    font-weight: 300;

    @include font-size(20);
}

.welcome-screen {
    align-items: center;
    background-attachment: fixed;
    background-image: url('../images/deepspace.jpg');
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: auto;
    position: relative;
    display: flex;

    .welcome-message {
        margin-top: -30px;
        max-width: 50%;
        text-align: center;

        h1 {
            color: $white;
        }

        .welcome-logo {
            max-width: 150px;
        }
    }
}
