/* Code Viewer */

.source {
	position: relative;
}

.source-panel {
	tab-size: 3;
}

.source-panel pre {
	margin: 0;
}

.source-panel code {
	white-space: pre-wrap;
}

.xraytitle {
  	margin-bottom: 10px;
}